<h1>Social Profiles</h1>
<div class="container">
    <div class="parent" *ngFor="let profile of profiles">
        <div class="details">
            <div  class="img">
                <img src={{profile.profilePic}} alt="" width="120px">
            </div>
            <h3>{{profile.fullName}}</h3>
            <label for="">{{profile.username}}</label>
            <p>{{profile.bio}}</p>
            <p><b>Location : </b>{{profile.location}}</p>
            <p><b>Work : </b>{{profile.work}}</p>
            <p><b>Hobbies : </b>{{profile.hobbies}}</p>
            <p><b>Interests : </b>{{profile.interests}}</p>
            <a href="" class="visit">Visit Home Page</a><br>
            <div class="follow">
            <a class="follower">{{profile.followersCount}}</a>
            <a class="follower">{{profile.followingCount}}</a>
            <a class="follower">{{profile.postsCount}}</a>
            </div>
        </div>
    </div>

    
