<div class="parent" *ngFor="let pokemon of pokemons">
    <div class="image">
        <img src="{{pokemon.image_url}}" alt="" width="200px">
    </div>
    <div class="details">
        <h3>{{pokemon.pokemon}}</h3>
        <p><b>Type : </b>{{pokemon.type}}</p>
        <p><b>Abilities : </b>{{pokemon.abilities}}</p>
        <p><b>Hitpoints : </b>{{pokemon.hitpoints}}</p>
        <p><b>Evolutions : </b>{{pokemon.evolutions}}</p>
        <p><b>Location : </b>{{pokemon.location}}</p>
    </div>
</div>
<!-- <div id="pokemonCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#pokemonCarousel" *ngFor="let pokemon of pokemons; let i = index"
                [attr.data-bs-slide-to]="i" [class.active]="i === 0" aria-current="i === 0 ? 'true' : null" >
        </button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let pokemon of pokemons; let i = index" [class.active]="i === 0">
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img [src]="pokemon.image_url" class="card-img-top" [alt]="pokemon.pokemon">
                    <div class="card-body">
                        <h5 class="card-title">{{pokemon.pokemon}}</h5>
                        <p class="card-text">
                            <b>Type:</b> {{pokemon.type}}<br>
                            <b>Abilities:</b> {{pokemon.abilities}}<br>
                            <b>Hitpoints:</b> {{pokemon.hitpoints}}<br>
                            <b>Evolutions:</b> {{pokemon.evolutions}}<br>
                            <b>Location:</b> {{pokemon.location}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#pokemonCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#pokemonCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->

