
<div  class="parent">
    <div class="left">
        <a routerLink="home">Home</a><br><br>
        <a href=""routerLink="createvehicle">Create-vehicle</a><br><br>
        <a routerLink="vehicle">Vehicle Info</a><br><br>
        <a href="" routerLink="product">Myntra</a><br><br>
        <a href=""routerLink="bank">Bank Accounts</a><br><br>
        <a href="" routerLink="createbank">Create Accounts</a><br><br>
        <a href="" routerLink="pinterest">Pinterest</a><br><br>
        <a href=""routerLink="weather">Weather Forecast</a><br><br>
        <a href="" routerLink="blog">Blog</a><br><br>
        <a href="" routerLink="imdb">IMDB Website</a><br><br>
        <a href="" routerLink="pokemon">Pokemon</a><br><br>
        <a href=""routerLink="social">Social-Profile</a><br><br>
        <a href=""routerLink="student">Student ID</a><br><br>
        <a href=""routerLink="createstudent">Create Student ID</a><br><br>
        <a href="">Logout</a><br>
    </div>
    <div class="right">
       <router-outlet></router-outlet> 
    </div>
</div>