<form action="" [formGroup]="userForm">

    <h1>Create User Task</h1>
    <label for="">Name :</label>
    <input type="text" formControlName="name">
    <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
        <p class="error" *ngIf="userForm.get('name')?.errors?.['required']">Name is Required</p>
        <p class="error" *ngIf="userForm.get('name')?.errors?.['maxlength']">Max 10 Chars only</p>
        <p class="error" *ngIf="userForm.get('name')?.errors?.['minlength']">Min 3 chars</p>
    </div>
    <br>

    <label for="">Class :</label>
    <input type="text" formControlName="class">
    <br>

    <label for="">Father Name :</label>
    <input type="text" formControlName="fatherName">
    <br>

    <label for="">Email Id :</label>
    <input type="email" formControlName="email">
    <br>

    <label for="">DOB :</label>
    <input type="date" formControlName="dob">
    <br>

    <div formGroupName="Address">
        <label for="">Address Line :</label>
        <input type="text" formControlName="addressLine">
        <br>

        <label for="">City :</label>
        <input type="text" formControlName="city">
        <br>

        <label for="">State :</label>
        <input type="text" formControlName="state">
        <br>

        <label for="">Pincode :</label>
        <input type="text" formControlName="pincode">
        <br>

    </div>

    <label for="">Residential :</label>
    <input type="radio" name="type" value="residential" formControlName="type">
    <br>

    <label for="">Day Scholar :</label>
    <input type="radio" name="type" value="dayScholar" formControlName="type">
    <br>

    <div *ngIf="userForm.get('type')?.value == 'dayScholar'">
        <label for="">Bus Fee :</label>
        <input type="text" formControlName="busFee">
        <br>
    </div>

    <div *ngIf="userForm.get('type')?.value == 'residential'">
        <label for="">Hostel Fee :</label>
        <input type="text" formControlName="hostelFee">
        <br><br>
    </div><br>

    <button class="btn btn-info" (click)="addMarks()">Add Marks</button>
    <br><br>


    <div formArrayName="cards">
        <div *ngFor="let card of cardsFormArray.controls, let i=index">
            <div formGroupName="{{i}}">
                <h2>Marks {{i+1}}</h2>
                <label for="">Class :</label>
                <input type="text" formControlName="classId">
                <br>
            
                <label for="">Year :</label>
                <input type="text" formControlName="year">
                <br>
            
                <label for="">Percentage :</label>
                <input type="text" formControlName="percentage">
                <br>
                <button (click)="del(i)" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div><br>

    <button (click)="onClick()" class="btn btn-warning">Submit</button>
</form>